<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=entry.author.username) }}">
                <img src="{{ entry.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            <i>{{ moment(entry.timestamp).fromNow() }}</i>
            <br>
            <a href="{{ url_for('user', username=entry.author.username) }}">
                {{ entry.author.username }}
            </a>
            added the word:
            <br>
            <b><a href="{{ url_for('entry', english_word=entry.english_word) }}">
              {{ entry.english_word }}
            </a></b>
        </td>
    </tr>
</table>
