{% extends "base.html" %}

{% block content %}
    {% if form %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.english_word.label }}<br>
            {{ form.english_word(cols=32, rows=4) }}<br>
            {% for error in form.english_word.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.url.label }}<br>
            {{ form.url(cols=32, rows=4) }}<br>
            {% for error in form.url.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}

    {% for entry in entries %}
      {% include '_post.html' %}
    {% endfor %}
{% endblock %}
